**********************************************************************
*                                                                    *
* DRILL TAPE SUMMARY REPORT                                          *
*                                                                    *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-304A-0\22-304A-0.MAX  *
* Thu May 02 15:30:14 2024                                           *
*                                                                    *
**********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       66       200      100                                                                                 
T2       354      24       200      100                                                                                 
T3       1260     2        200      100                                                                                 
